*{
    margin: 0;
    padding: 0;
}
#banner{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/53/44/9f/53449fa87702af80374c45b87080c639.jpg);
    background-size: cover;
    background-color: cadetblue;
    background-position: center;
    overflow: hidden;
    right: 0%;
}
.logo{
    width:140px;
    position: absolute;
    top: 10%;
    left: 0%;
}
.banner-text{
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 180px;
    font-family: 'Zen Dots', cursive;
    font-size: 250%;       
}
.banner-text b span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(154, 230, 154);
    z-index: -1;
    transition: 0.20s;
}
.banner-text b:hover span{
    width: 100%;

}
.banner-text b:hover{
    color: rgb(98, 235, 98);

}
.banner-text h1{
    top: 50%;
    left: 70%;
    font-size: 130px;
}
.banner-text p{
    
    font-size: 100%;
    font-family: 'Lobster', cursive;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 140px;
    text-decoration: cornsilk;
    display: absolute;
    top: 0%;
    left: 0%;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .10px solid #fff;
    position: relative;
    z-index: 1;
    transition: col
    color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(130, 223, 130);
    z-index: -1;
    transition: 0.20s;
}
.banner-btn a:hover span{
    width: 100%;

}
.banner-btn a:hover{
    color: #000;

}
#sideNav{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-image : url(https://raw.githubusercontent.com/Bharath-bmon/green-earth/main/sidenav_background.jpg); 
    background-color: aquamarine;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    right: -250px;
    top:0;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin:80px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(26, 24, 24);
    font-family: 'Original Surfer', cursive;
    font-size: larger;

}
nav ul li a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(133, 212, 144);
    z-index: -1;
    transition: 0.20s;
}
nav ul li a:hover span{
    width: 100%;

}
nav ul li a:hover{
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    position: fixed;
    right:30px;
    top:20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 60px;
    margin-top: 0px;
    position: relative;
}
@media screen and (max-width: 770px){
    #banner{
        width: 440px;

    }
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
} 

/*--feature--*/

#feature{
    width: 100%;
    padding: 70px 0;
    background-color: rgb(226, 245, 226);
    background-image: url(https://raw.githubusercontent.com/Bharath-bmon/green-earth/main/frame.jpg);
    background-position: center;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p{
    font-size: 200%;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: rgb(160, 230, 160);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 40px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features h1{
    text-align:left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #3a4238;
    font-family: 'New Tegomin', serif;

}
.features h1{
    text-align:left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #3a4238;
    font-family: 'New Tegomin', serif;

}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align:left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #3a4238;
    font-family: 'New Tegomin', serif;
}
.feature-text p{
    font-size: 20px;
    font-family: 'Pangolin', cursive;

}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
    }
}
 
/*--uses--*/

#uses{
    width: 100%;
    padding: 70px 0;
    background: #bbe2bd;
    background-image: url(https://raw.githubusercontent.com/Bharath-bmon/green-earth/main/frame.jpg);
    background-position: center;
}
.title-text h2{
    font-size: 140%;
    font-family: 'Reggae One', cursive;
}
.title-text h2 span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(154, 230, 154);
    z-index: -1;
    transition: 0.20s;
}
.title-text h2:hover span{
    width: 100%;

}
.title-text h2:hover{
    color: rgb(1, 139, 1);
}
.uses-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.plant-uses{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.plant-uses img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgb(0,0,0,0.5),#7fda83);
    opacity: 0;
    transition: 1s;
}
.plant-uses:hover .overlay{
    opacity: 1;
}
.uses-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.uses-desc p{
    font-size: 14px;
}
.plant-uses:hover .uses-desc{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width: 770px){
    .plant-uses{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .uses-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .plant-uses:hover .uses-desc{
        bottom: 25% !important;
    }

}

/*---services---*/

#services{
    width: 100%;
    padding: 70px 0;  
    background: #bbe2bd;
    background-image: url(https://raw.githubusercontent.com/Bharath-bmon/green-earth/main/frame.jpg);
    background-position: center;
}
.services-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.services-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.services-col p{
    font-size: 20px;
}
.services-col p span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    z-index: -1;
    transition: 0.20s;
}
.services-col p:hover span{
    width: 100%;

}
.services-col p:hover{
    color: rgb(1, 139, 1);
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small{
    color: #009688;
}
.services-col:hover{
    transform: translateY(-7px);
}

@media screen and (max-width: 770px){
    .services-col{
        flex-basis: 100%;
    }
}

/*--footer--*/

#footer{
    padding: 100px 0 20px;
    background: #bbe2bd;
    background-image: url(https://raw.githubusercontent.com/Bharath-bmon/green-earth/main/frame.jpg);
    background-position: center;
    position: relative;  
}
.title-text p{
    font-size: x-large;
    color: darkgreen;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #055f09;
    margin: 10px;
}
.footer-img{
    max-width: 270px;
    opacity: 0.5;
    position: absolute;
    left: 48%;
    top: 55%;
    transform: translate(-40%,-40%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #055f09;
    margin: 40px 5px 0;
    color: #202521;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #055f09;
    color: #fff;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 12px;
    margin-top: 20px; 
}
@media screen and (max-width: 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}